* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 110%;
}

body {
  color: #141414;
  background-color: white;
  font-family: 'PT Serif', serif;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
}

header, footer, article {
  max-width: 600px;
  margin: 0 auto;
}

header, footer {
  font-family: 'Source Sans Pro', serif;
  color: #3cabda;
}

footer {
  padding: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

h1 {
  line-height: 1.5em;
  font-size: 4em;
  max-width: 600px;
  margin: 0 auto;
  text-transform: uppercase;
}

h2 {
  font-family: 'Source Sans Pro', serif;
  font-size: 2.5em;
  line-height: 2em;
}

h3 {
  margin: 1em 0;
  font-size: 1.5em;
}

p { margin: 1em 0; }

a {
  color: #3cabda;
  text-decoration: none;
}
a:hover   { color: #111; }
a:visited { color: #2182ab; }

dt {
  font-weight: bold;
}

dd {
  margin-left: 1em;
}

.meta {
  font-family: 'Source Sans Pro', serif;
  color: #999;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1em;
  margin-top: 2.5em;
}

.meta time {
  font-size: 1em;
}

.posts {
  list-style: none;
  display: table;
}

.posts time {
  display: table-cell;
  color: #999;
  font-size: smaller;
  width: 7em;
}

.posts a {
  display: table-cell;
}

.warning {
  display: table;
  padding: 0.3em 0.5em 0.3em 0.7em;
  color: #b84;
  background-color: #fcf8e3;
  width: 100%;
}

.warning .icon {
  display: table-cell;
  padding-right: 0.6em;
  padding-top: 0.1em;
  vertical-align: middle;
}

.warning .text {
  display: table-cell;
}

.hidden {
  display: none;
}

.broken {
  text-decoration: line-through;
}

footer a {
  color: #999;
  font-weight: 400;
  font-size: 0.9em;
}
