%article
  %h2= title "Edit location"

  = form_for @location, :url => admin_location_path(@location) do |f|
    - if @location.errors.any?
      %div.errorExplanation
        %ul
          - @location.errors.full_messages.each do |msg|
            %li= msg
    = render :partial => "form", :locals => { :f => f }
    %button Update
