name: Suffix
author: Simon Schoeters
description: My personal hangout
url: https://www.suffix.be
hostname: suffix.be
permalink: blog/:title/index.html
exclude:
  - Gemfile*
  - Rakefile
deploy:
  user: deploy
  host: suffix.be
  path: /var/www/suffix
rebrickable_key: 'abc123'
sass:
  style: compressed
