!light_gray = #efefef
!gray = #bbb
!dark_gray = #777777
!black = #262626
!orange = #bf3a14
!blue = #449FD8
!horizontal_width = 3px
!vertical_width = 2px

=top_shading
  background: transparent url(/images/border_top.gif) repeat-x top left

html, body
  color= !black
  font-family: Georgia, serif
  line-height: 1.5em

h2
  padding-top: 15px
  font-size: 1.2em
  font-weight: lighter
  margin-bottom: 0.5em

a
  text-decoration: none
  color= !blue
a.ext
  background: url(/images/ext.gif) no-repeat right center
  padding-right: 11px
a:hover
  color= !orange
// TODO Active colors

form
  margin-bottom: 1em

input, textarea
  border-width= !vertical_width
  border-style: solid
  border-color= !gray
  padding: 0.3em
  color= !blue
  background: transparent url(/images/drop.png) no-repeat 0 0
  font-family: Monaco, sans-serif

button
  border-width: 0
  background-color: white
  padding: 0
  position: relative
  top: 7px
  left: 0.5em

header
  padding: 0 8% 0 8%
  background-image: url(/images/map.png)
  background-position: top left
  background-repeat: no-repeat
  background-color= !light_gray
  border-bottom-width= !horizontal_width
  border-bottom-color= !gray
  border-bottom-style: solid
  span
    display: none

nav
  font-family: Skia, 'Trebuchet MS', sans-serif
  margin-top: -28px
  margin-left: 25%
  a
    color= !black
  a:active
    color= !orange
  // TODO Visited and hover colors
  li
    display: inline
    padding: 0 1.5% 0 1.5%
  li#selected
    background-image: url(/images/nav_arrow.gif)
    background-color= !orange
    background-repeat: no-repeat
    background-position: center bottom
    color: white
    padding: 0.5em 0.35em 1.7em 0.35em
    a
      color: white

article
  margin: 2em 8% 0 8%
  height: 100%
  h2
    +top_shading
  h2 a
    color= !orange
  #column0, #column1, #column2
    float: left
    width: 30%
    padding-right: 2%
    border-right-color= !gray
    border-right-width= !vertical_width
    border-right-style: solid
    margin-bottom: 2%
    p
      margin-bottom: 1em
  #column1
    padding-left: 2%
  #column2
    width: 64%
    h2
      background: none
      padding-top: 0
  .meta
    color= !dark_gray
    font-size: smaller
  ul#photos
    li
      float: left
      list-style: none
      margin-right: 0.5em
      margin-bottom: 0.5em
      background: transparent url(/images/frame.png) no-repeat left top
      width: 96px
      height: 112px
      img
        position: relative
        top: 10px
        left: 9px

aside
  width: 26.5%
  float: right
  margin-right: 8%
  padding-left: 2%
  h2
    +top_shading
  ul
    list-style: none
    color= !dark_gray
    margin-bottom: 1em
    abbr, span
      color= !black
  table#archive
    margin-top: 1em
    table-layout: fixed
    border-bottom-width: 1px
    border-bottom-style: solid
    border-bottom-color= !gray
    width: 100%
    td
      border-top-width: 1px
      border-top-style: solid
      border-top-color= !gray
    td.expand
      overflow: hidden
      empty-cells: show
      width: 80%
      font-size: 1em
      white-space: nowrap
    td.meta
      font-size: smaller
      padding-left: 0.5em
      text-align: right
      color= !dark_gray
    td#archive_link
      background-color= !light_gray
      text-align: center
  .comment
    font-size: 0.9em
    line-height: 1.3em
    margin-bottom: 1em
    overflow: hidden
    .author
      display: inline
    .url
      display: none
    .reaction_time
      clear: both
      margin: 0
      text-align: right
      color= !gray
  .comment:hover
    .url
      display: inline

footer
  clear: both
  border-top-color= !gray
  border-top-width= !horizontal_width
  border-top-style: solid
  font-size: smaller
  padding: 0.5em 8% 0.5em 8%
  color= !dark_gray
