!light_gray = #efefef
!gray = #bbb
!dark_gray = #777777
!black = #262626
!orange = #bf3a14
!blue = #449FD8
!horizontal_width = 3px
!vertical_width = 2px

html, body
  color= !black
  font-family: Georgia, serif
  line-height: 1.5em

a
  text-decoration: none
  color= !blue
a:hover
  color= !orange
// TODO Active colors

h2
  font-size: 1.2em
  font-weight: lighter

header
  padding: 0 8% 0 8%
  background-image: url("/images/map.png")
  background-position: top left
  background-repeat: no-repeat
  background-color= !light_gray
  border-bottom-width= !horizontal_width
  border-bottom-color= !gray
  border-bottom-style: solid
  span
    display: none

nav
  font-family: Skia, 'Trebuchet MS', sans-serif
  margin-top: -28px
  margin-left: 25%
  a
    color= !black
  a:active
    color= !orange
  // TODO Visited and hover colors
  li
    display: inline
    padding: 0 1.5% 0 1.5%
  li#selected
    background-image: url("/images/nav_arrow.gif")
    background-color= !orange
    background-repeat: no-repeat
    background-position: center bottom
    color: white
    padding: 0.5em 0.35em 1.7em 0.35em

article
  margin: 2em 8% 0 8%
  height: 100%
  h2
    background: transparent url("/images/border_top.gif") repeat-x top left
    padding-top: 15px
    a
      color= !orange
  #column0, #column1
    float: left
    width: 30%
    padding-right: 2%
    border-right-color= !gray
    border-right-width= !vertical_width
    border-right-style: solid
    margin-bottom: 2%
    p
      margin-bottom: 1em
  #column1
    padding-left: 2%
  .meta
    color= !dark_gray
    font-size: smaller
  table#archive
    margin-top: 1em
    table-layout: fixed
    border-bottom-width: 1px
    border-bottom-style: solid
    border-bottom-color= !gray
    width: 100%
    td
      border-top-width: 1px
      border-top-style: solid
      border-top-color= !gray
    td.expand
      overflow: hidden
      empty-cells: show
      width: 80%
      font-size: 1em
      white-space: nowrap
    td.meta
      font-size: smaller
      padding-left: 0.5em
      text-align: right
      color= !dark_gray
    td#archive_link
      background-color= !light_gray
      text-align: center

footer
  clear: both
  border-top-color= !gray
  border-top-width= !horizontal_width
  border-top-style: solid