@mixin cards($primary, $secondary, $tertiary) {
  .cards {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  .card {
    background-color: lighten($secondary, 10%);
    border-width: 0;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    width: 220px;

    figure {
      padding: 8%;
      text-align: left;

      .frame {
        display: block;
        height: 180px;
        position: relative;
        text-align: center;
      }

      img {
        bottom: 0;
        height: auto;
        left: 0;
        margin: auto;
        max-height: 180px;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
      }

      figcaption {
        border-bottom: thin solid;
        color: $tertiary;
        display: inline;
        margin: 0;
        padding-bottom: .2em;
      }
    }

    .badge {
      background-color: $primary;
      color: $secondary;
      font-family: $title-font;
      padding: .05em .5em;
      position: absolute;
      right: 0;
      z-index: 1;
    }
  }
}
