@mixin main($primary, $secondary, $tertiary) {
  body {
    background-color: $secondary;
    color: $primary;
    font-family: $body-font;
    line-height: 2em;
    margin: 0 auto;
    max-width: 670px;

    header {
      padding: 2em 0;

      nav ul {
        margin: 0;
      }

      nav li {
        display: inline;
        margin-right: 1em;
      }

      nav li:last-child {
        margin-right: 0;
      }
    }

    footer {
      background: url('../../assets/git-branch.svg') 0 10px no-repeat;
      background-size: 20px;
      color: lighten($primary, 35%);
      margin: 2em 0;

      p {
        padding-left: 30px;
      }

      h1 {
        font-family: $body-font;
        font-size: 1.5em;
        font-weight: bolder;
        margin: 0;
        text-align: right;
      }
    }

    h1,
    h2,
    h3,
    h4 {
      font-family: $title-font;
      text-align: center;
      text-transform: uppercase;
    }

    h1 {
      font-size: 2em;
      margin: 2em;
    }

    h2 {
      font-size: 1.5em;
      margin: 1.5em;
    }

    a {
      border-bottom: thin solid;
      color: $tertiary;
      padding-bottom: .2em;
      text-decoration: none;
    }

    figure,
    picture {
      display: block;
      text-align: center;

      img {
        max-width: 100%;
      }
    }

    p,
    ul {
      margin: .5em 0;
    }

    ul {
      margin-left: 1em;
    }

    dl,
    dt,
    dd {
      margin: 1em 0;
    }

    dt {
      font-weight: bolder;
    }

    dd {
      border-left: 3px solid lighten($primary, 30%);
      padding-left: 1em;
    }

    pre {
      overflow-x: auto;
    }

    figcaption {
      color: $primary;
      font-style: italic;

      ol {
        margin-left: 30%;
        text-align: left;
      }
    }

    blockquote {
      color: lighten($primary, 30%);

      cite {
        font-style: italic;
      }
    }

    table {
      border-collapse: collapse;
    }

    tr {
      border-bottom: 1px solid lighten($primary, 50%);
    }

    th,
    td {
      padding: .4em;
    }

    .list-item {
      line-height: 2em;
      margin: 2em 0;

      h1 {
        font-family: $title-font;
        font-size: 1.2em;
        margin: 0;
        text-align: left;
        text-transform: uppercase;
      }

      time {
        color: lighten($primary, 30%);
        display: block;
      }

      a {
        color: $tertiary;
        text-decoration: none;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    body {
      margin: 0 1em;
    }
  }
}
