@mixin posts($primary, $secondary, $tertiary) {
  .post {
    header {
      text-align: center;

      h1 {
        margin: 0;
      }

      time {
        color: lighten($primary, 30%);
      }
    }

    .highlight {
      text-align: left;
    }
  }
}
