.highlight {
  .hll { background-color: #ffc; }
  .c { font-style: italic; }
  .err { border: 1px solid #f00; }
  .k { font-weight: bold; }
  .ch { font-style: italic; }
  .cm { font-style: italic; }
  .cpf { font-style: italic; }
  .c1 { font-style: italic; }
  .cs { font-style: italic; }
  .ge { font-style: italic; }
  .gh { font-weight: bold; }
  .gp { font-weight: bold; }
  .gs { font-weight: bold; }
  .gu { font-weight: bold; }
  .kc { font-weight: bold; }
  .kd { font-weight: bold; }
  .kn { font-weight: bold; }
  .kr { font-weight: bold; }
  .s { font-style: italic; }
  .nc { font-weight: bold; }
  .ni { font-weight: bold; }
  .ne { font-weight: bold; }
  .nn { font-weight: bold; }
  .nt { font-weight: bold; }
  .ow { font-weight: bold; }
  .sa { font-style: italic; }
  .sb { font-style: italic; }
  .sc { font-style: italic; }
  .dl { font-style: italic; }
  .sd { font-style: italic; }
  .s2 { font-style: italic; }
  .se { font-style: italic; font-weight: bold; }
  .sh { font-style: italic; }
  .si { font-style: italic; font-weight: bold; }
  .sx { font-style: italic; }
  .sr { font-style: italic; }
  .s1 { font-style: italic; }
  .ss { font-style: italic; }
}
