%h2= title "New tag"

= form_for @tag, :url => admin_tags_path do |f|
  - if @tag.errors.any?
    %div.errorExplanation
      %ul
        - @tag.errors.full_messages.each do |msg|
          %li= msg
  = render :partial => "form", :locals => { :f => f }
  %button Create
