- title @page.title
%article
  %div#column2
    = @page.content.html_safe
%aside
  %h2 Meta
  %ul
    %li
      freshness
      %abbr{ :title => @page.created_at.iso8601 }
        = time_ago_in_words(@page.created_at)
        ago
    %li
      posted
      %abbr{ :title => @page.updated_at.iso8601 }
        = time_ago_in_words(@page.updated_at)
        ago
