environment:
  title: Suffix
  author:
  language: en
  host: localhost:3000
  secret_token:
  username:
  password:
  policies_url: http://www.example.com/policies
  dopplr:
    future_trips:
  flickr:
    feed:
