---
layout:      default
title:       Blog
description: Personal blog for posting my ramblings, mostly about programming.
---

{% for post in site.posts %}
  {% assign cursor = post.date | date: "%Y" %}

  {% if cursor != prev_cursor %}
    <h2>
      <time datetime="{{ cursor }}">↙ {{ cursor }}</time>
    </h2>
  {% endif %}

  <section typeof="BlogPosting">
    <h3>
      <a href="{{ post.slug }}/" title="{{ post.description }}" property="url">
        <span property="headline">{{ post.title }}</span>
      </a>
    </h3>
    <p property="abstract">{{ post.description }}</p>
  </section>

  {% assign prev_cursor = cursor %}
{% endfor %}
