<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} - {{ site.name }}</title>
    <link rel="preload" href="{% relbase %}/assets/stylesheets/main.css" as="style" />
    <link rel="preload" href="{% relbase %}/assets/gentium-webfont.woff" as="font" type="font/woff" />
    <link rel="preload" href="{% relbase %}/assets/gentium-webfont.woff2" as="font" type="font/woff2" />
    <link rel="preload" href="{% relbase %}/assets/oswald-webfont.woff" as="font" type="font/woff" />
    <link rel="preload" href="{% relbase %}/assets/oswald-webfont.woff2" as="font" type="font/woff2" />
    <link rel="stylesheet" href="{% relbase %}/assets/stylesheets/main.css" />
    <link rel="manifest" href="{% relbase %}/manifest.json" />
    <link rel="shortcut icon" href="{% relbase %}/assets/favicon.ico" />
    <link rel="alternate" href="{{ page.url | absolute_url | remove: 'index.html' }}" hreflang="en" />
    <link rel="canonical" href="{{ page.url | absolute_url | remove: 'index.html' }}" />
    <link href="{% relbase %}/feeds/blog.xml" rel="alternate" title="Suffix’s feed" type="application/atom+xml" />
    <meta property="og:image" content="{{ page.cover_image_url | absolute_url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | absolute_url | remove: 'index.html' }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="theme-color" content="#333" />
    <meta name="msapplication-navbutton-color" content="#333" />
    <meta name="viewport" content="width=device-width" />
    <meta name="google-site-verification" content="iucc-gveOZVN1BSKSqUHhY3Gn3pYqZdQl1ZnDRCCVQM" />
  </head>
  <body vocab="http://schema.org/">
    <header>
      <nav>
        <ul>
          <li><a href="{% relbase %}/blog/">Blog</a></li>
          <li><a href="{% relbase %}/reading/">Reading</a></li>
          <li><a href="{% relbase %}/photos/">Photos</a></li>
          <li><a href="{% relbase %}/lego/">LEGO</a></li>
          <li><a href="{% relbase %}/about/" rel="author">About</a></li>
          <li><a href="{% relbase %}/feeds/blog.xml">RSS</a></li>
        </ul>
      </nav>
    </header>
    {{ content }}
    <footer>
      <p>This page is open source. Did you spot a mistake? Ideas for improvements? Contribute via <a href="https://github.com/cimm/suffix/blob/master/{{page.path}}" title="Propose a fix by opening a pull request on Github">Github</a>. Thank you!</p>
      <h1>
        <a href="{% relbase %}/policies/" rel="license">SUFFIX</a>
      </h1>
    </footer>
  </body>
</html>
