<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ site.url }}/apple-touch-icon.png" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="theme-color" content="#333" />
    <meta name="msapplication-navbutton-color" content="#333" />
    <meta name="viewport" content="width=device-width" />
    <link rel="alternate" href="{{ site.url }}{{ page.url }}" hreflang="en"/>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
    <link href="/feeds/blog.atom" rel="alternate" title="Suffix's feed" type="application/atom+xml" />
    <link rel="stylesheet" href="{{ '/assets/stylesheets/main.css' | relative_url }}" />
  </head>
  <body>
    <header class="narrow-col">
      <nav>
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/photos">Photos</a></li>
          <li><a href="/lego">Lego</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    {{ content }}
    <footer>
      <a href="/policies">SUFFIX</a>
    </footer>
  </body>
</html>
