---
layout: default
---

<header class="narrow-col post h-entry">
  <h1 class="p-name">{{ page.title }}</h1>
  {% if page.description %}
  <p><em>{{ page.description }}</em></p>
  {% endif %}
  <time datetime="{{ page.date | date_to_xmlschema }}" class="dt-published">{{ page.date | date_to_long_string }}</time>
  <a href="../../about" class="u-author"></a>
</header>

{{ content }}

<div class="notice">
  <p>This post is open source. Did you spot a mistake? Ideas for improvements? Contribute to this post via <a href="https://github.com/cimm/suffix/blob/master/{{page.path}}" title="Propose a fix by opening a pull request on Github">Github</a>. Thank you!</p>
</div>
