.cards {
  display: grid;
  grid-gap: 1.2em;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  margin: 2em 0;
}

.card {
  background-color: var(--color-box-background);
  border-width: 0;
  box-shadow: 0 0 20px var(--color-box-border);
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  width: 100%;

  figure {
    padding: 8%;
    text-align: left;

    img {
      bottom: 0;
      height: auto;
      left: 0;
      margin: auto;
      max-height: 180px;
      max-width: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }

    figcaption {
      border-bottom: thin solid;
      display: inline;
      margin: 0;
      padding-bottom: .2em;
      color: inherit;
    }

    .frame {
      display: block;
      height: 180px;
      position: relative;
      text-align: center;
    }

    .badge {
      background-color: var(--color-foreground);
      color: var(--color-background);
      padding: .05em .5em;
      position: absolute;
      right: 0;
      z-index: 1;
    }
  }
}
